<ion-pane>
  <div class="item item-icon-left" style="padding-top: 0">
    <i class="icon icon-left" style="max-height: 44px;" ng-click="checkItem(item)" ng-class="isItemChecked(item) ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></i>
    <div class="row">
      <div class="col" style="padding-top: 8px">定时升级</div>
      <div id="demo_default" class="col-80 demos" style="padding-top: 8px">
        <!--<input type="text" name="test_default" id="test_default" class="timerUpgrade-input">-->
          <input type="text" name="test_default"  class="timerUpgrade-input" id="test_default" />
      </div>
    </div>
  </div>
</ion-pane>

