<div style="background-color:#f1f1f1;" class="medicalPage">
    <div class="topBar">
        <a href="#/medical1/1">
            <ng-echarts class="echarts" ec-config="vm.lineConfig" ec-option="vm.lineOption" style="position: relative;height:214px;width:{{lineWidth}};margin-left:0%"></ng-echarts>
        </a>
      <div style="color:#fff;font-size:13px;line-height:6px;text-align:center">
            <div class="row"  style="margin-bottom:10px">
                <div class="col-20" >{{vm.currentYear-4}}</div>
                <div class="col-20" >{{vm.currentYear-3}}</div>
                <div class="col-20" >{{vm.currentYear-2}}</div>
                <div class="col-20" >{{vm.currentYear-1}}</div>
                <div class="col-20" >{{vm.currentYear}}</div>
            </div>
        </div>
    </div>
    <div style="height:130px;margin-top:10px">
        <sc-layoutm1 img-url="vm.imgUrl" title="vm.title" title1="vm.title1"
                     unit="vm.unit" num="vm.num" moreurl="vm.moreurl" ></sc-layoutm1>
    </div>

    <div style="height:130px">
        <sc-layoutm2 color="vm.color" title="vm.title_0" title1="vm.title_1" title2="vm.title_2" come="vm.come" moreurl="vm.moreurl_0"
                     unit1="vm.unit_1" unit2="vm.unit_2" num1="vm.num_1"  num2="vm.num_2" img1="vm.img1" img2="vm.img2" ></sc-layoutm2>
    </div>

    <div style="height:130px">
        <sc-layoutm2 color="vm.jgfx_color" title="vm.jgfx_title_0" title1="vm.jgfx_title_1" title2="vm.jgfx_title_2" come="vm.come" moreurl="vm.jgfx_moreurl"
                     unit1="vm.jgfx_unit_1" unit2="vm.jgfx_unit_2" num1="vm.jgfx_num_1"  num2="vm.jgfx_num_2" img1="vm.jgfx_img1" img2="vm.jgfx_img2"></sc-layoutm2>
    </div>

    <div style="height:130px">
        <sc-layoutm3 color="vm.crb_color" title="vm.crb_title_0" title1="vm.crb_title_1" title2="vm.crb_title_2" come="vm.come" moreurl="vm.crb_moreurl"
                     unit1="vm.crb_unit_1" unit2="vm.crb_unit_2" num1="vm.crb_num_1"  num2="vm.crb_num_2" percent1="vm.percent1" percent2="vm.percent2"></sc-layoutm3>
    </div>

    <div style="height:330px">
        <div style="height:320px;margin:5px 2.7777%;background-color:#fff;border-radius:8px;">
            <div class="layout-title">
                <div style="background-color:#bb65c8"></div>
                <div style="color:#57555e;font-size:16px">城市居民疾病排行</div>
                <div style="margin-left:12px;color:#999;font-size:14px">{{vm.come}}</div>
                <div style="float:right;margin-right:0px"> 死亡率：1/10万</div>

            </div>
            <div class="row" style="margin-top:11px">
              <div class="col-10"  style="width:10%;margin-left:5px">
                  <img width="26" height="26" src="../../images/subject_icon_1.png" style="margin-top:5px"/>
              </div>
              <div  style="width:55%;margin-left:5px">
                  <div style="font-size:16px;color:#666">{{vm.top1Name}}</div>
                  <div class="line-bar-f" style="margin-top:10px"></div>
                  <div class="line-bar-fwzs font-type1"  ng-style="{ 'width' : vm.top1Rate }"></div>
              </div>
              <div style="text-align:right;width:35%;margin-top:12px">
                  <div style="font-size:20px;color:#333;">{{vm.top1DateRate}}</div>
              </div>
            </div>

            <div class="row" style="margin-top:22px">
                <div class="col-10"  style="width:10%;margin-left:5px">
                    <img width="26" height="26" src="../../images/subject_icon_2.png" style="margin-top:5px"/>
                </div>
                <div  style="width:55%;margin-left:5px">
                    <div style="font-size:16px;color:#666">{{vm.top2Name}}</div>
                    <div class="line-bar-f" style="margin-top:10px"></div>
                    <div class="line-bar-fwzs2 font-type1"  ng-style="{ 'width' : vm.top2Rate }"></div>
                </div>
                <div style="text-align:right;width:35%;margin-top:12px">
                    <div style="font-size:20px;color:#333;">{{vm.top2DateRate}}</div>
                </div>
            </div>

            <div class="row" style="margin-top:22px">
                <div class="col-10"  style="width:10%;margin-left:5px">
                    <img width="26" height="26" src="../../images/subject_icon_3.png" style="margin-top:5px"/>
                </div>
                <div  style="width:55%;margin-left:5px">
                    <div style="font-size:16px;color:#666">{{vm.top3Name}}</div>
                    <div class="line-bar-f" style="margin-top:10px"></div>
                    <div class="line-bar-fwzs3 font-type1"  ng-style="{ 'width' : vm.top3Rate }"></div>
                </div>
                <div style="text-align:right;width:35%;margin-top:12px">
                    <div style="font-size:20px;color:#333;">{{vm.top3DateRate}}</div>
                </div>
            </div>
            <div  style="margin-top:22px;border-top: 1px solid #dbdbdb;">
                <div class="row" onclick="javascript:location.href='#medical5/1';">
                    <div style="width:55%;text-align:right;height:50px;line-height:50px;color:#666;font-size:14px;text-decoration: none">
                       查看更多
                    </div>
                    <!--<div ng-click="vm.toUrl()" style="width:45%;text-align:left;margin-top:15px">-->
                    <div   style="width:45%;text-align:left;margin-top:15px">
                        <img width="14" height="14" src="../../images/universal_btn_icon_more.png" style="margin-top:3px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<style>
    .layout-title{height:45px;padding:15px 10px 15px 0;}
    .layout-title div{float:left}
    .layout-title div:nth-child(1){height:20px;width:5px;margin-right:8px;}
    .layout-title div:nth-child(2){color:#57555e;font-size:15px;}
    .layout-title div:last-child{color:#999;font-size:11px;margin-left:8px;}
    .layout-row{padding:10px 5px;}
    .layout-row div{text-align: center}
    .layout-row .layout-data{font-size:19px;color:#2863db;}
    .layout-row .layout-subtitle{margin-top:11px;color:#57555e;}
    .layout-row .layout-subtitle span:first-child{font-size:14px;}
    .layout-row .layout-subtitle span:last-child{font-size:10px;}
    .layout-row .col-60:nth-child(1),.col-40:nth-child(2){border-right: 0px solid #e5e5e5;}
    .width50{width:50%}
    .line-bar-f{
        background-color: #e9e8fc;
        border-radius: 5px;
        height: 3px;
    //opacity: 0.2;
    }
    .line-bar-fwzs{
        background-color: #438ff5;
        border-radius: 5px;
        height: 5px;
        width: 44.3696%;
        margin-top:-4px;
    }

    .line-bar-fwzs2{
        background-color: #bb65c8;
        border-radius: 5px;
        height: 5px;
        width: 44.3696%;
        margin-top:-4px;
    }

    .line-bar-fwzs3{
        background-color: #6ead4b;
        border-radius: 5px;
        height: 5px;
        width: 44.3696%;
        margin-top:-4px;
    }
    .medicalPage .topBar{width:100%;height:234px;position:relative;
        background-image:-webkit-linear-gradient(-60deg, #37127c, #21286a);
        background-image:linear-gradient(-60deg, #37127c, #21286a);
    }
    .medicalPage .topBar:after{content:'';display:block;width:100%;height:24px;background-color:rgba(0,0,0,.3);position:absolute;bottom:0;
        left:0;}
    .col-20{
        width:20%
    }
</style>
