<style>
  /* .active1{color:darkred;background-color:greenYellow;} */
  .jyqkfxjyjf .indi-chart-p {float:left;background-color:white;border:1px solid #D2D6DE;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl{width:100%;font-size:14px;color:#515A64;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl thead tr{background-color:#F6F7FB;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl tbody tr:nth-child(even){background-color:#F6F7FB;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl tbody tr:nth-child(odd){background-color:#FFF;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl th{font-weight:normal;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl tbody th{text-align:left;padding-left:10px;width:235px;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl th, .indi-chart-p .c21-datatbl td{text-align:center;line-height:35px;border:solid 1px #EFF1F9;}
  .jyqkfxjyjf .indi-chart-p .c21-datatbl th:hover,.indi-chart-p .c21-datatbl td:hover{border-color:#E9F9F9;background-color:#D4EDED;}
  .jyqkfxjyjf .echartsBox1{width:99%;height:429px;}
  .jyqkfxjyjf .echartsBox1 #echarts1{height:385px;}
  .jyqkfxjyjf .echartsBox2{width:99%;}
  @media (min-width:1900px){    
    .jyqkfxjyjf .echartsBox1{height:564px;}
    .jyqkfxjyjf .echartsBox1 #echarts1{height:530px;}    
  } 
</style>
<section class="content jyqkfxjyjf">
  <div class="indi-chart-p echartsBox1">
    <div class="box-title">全省教育经费构成情况</div>
    <ng-echarts class="echarts col-md-12" id='echarts1' ec-config="vm.ecConfig" ec-option="vm.ecOption" style="position:static;"></ng-echarts>
  </div>
  <div class="indi-chart-p echartsBox2" style="margin-top:10px;">
    <div class="box-title">全省教育经费构成一览</div>
    <div style="margin-top:15px;">
      <table class="c21-datatbl" id="c21-datatbl">
        <thead>
        <tr>
          <th style="text-align:left;padding-left:10px;">指标</th>
          <th ng-repeat="year in vm.yearList">
            <!--<input style="margin-left: 5px;" type="checkbox" ng-checked="year.checked" ng-model="year.checked" ng-click="vm.legendCheckboxClick('x',year)">-->
            <img ng-if="year.checked"  ng-model="year.checked" style="width:12px;height:12px" ng-click="vm.legendCheckboxClick('x',year)"  ng-src="../assets/images/btn_s.png"/>
            <img ng-if="!year.checked" ng-model="year.checked" style="width:12px;height:12px" ng-click="vm.legendCheckboxClick('x',year)"  ng-src="../assets/images/btn_us.png"/>
            {{year.value}}年
          </th>
        </tr>
        </thead>
        <tbody>

        <tr  ng-repeat="type in vm.eduTypeList">
          <th>
            <!--<input style="margin-left: 5px;" type="checkbox" ng-checked="type.checked" ng-model="type.checked" ng-click="vm.legendCheckboxClick('y',type)">-->
            <img ng-if="type.checked"  ng-model="type.checked" style="width:12px;height:12px" ng-click="vm.legendCheckboxClick('y',type)"  ng-src="../assets/images/btn_s.png"/>
            <img ng-if="!type.checked" ng-model="type.checked" style="width:12px;height:12px" ng-click="vm.legendCheckboxClick('y',type)"  ng-src="../assets/images/btn_us.png"/>
            <span > {{type.name}}(万元)</span>
          </th>
          <td ng-repeat="year in vm.yearList">
                <span ng-repeat="data in vm.dataList">
                  <span ng-if="type.type==data.type && year.value==data.year">
                      {{data.num}}
                  </span>
                </span>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div style="clear:both;padding-top:10px;width:99%;height:26px;font-size:12px;color:#333;text-align:right;">数据来源：湖南省统计局</div>
  </section>
<!--<section class="content-header" ng-if="vm.breadcrumbs">
  <h1>
    {{vm.box-title}}
  </h1>
  <sc-breadcrumb breadcrumbs="vm.breadcrumbs"></sc-breadcrumb>
</section>
<section class="content">
  <div class='row' ng-if="vm.ecOption" style="margin-left:10px">
    <div class='col-md-12' style="background: #fff;border-top:2px solid #008000;">
      <ng-echarts class="echarts" ec-config="vm.ecConfig" ec-option="vm.ecOption" style="width:1100px; height: 370px; position:static;"></ng-echarts>
    </div>
  </div>
  <div style="margin-top:20px;margin-left:10px;">
    <table class="table table-bordered table-hover" style="background: #fff;width:95%">
      <thead>
      <tr>
        <th>指标</th>
        <th ng-repeat="year in vm.yearList">
          {{year.value}}
          <input style="margin-left: 5px;" type="checkbox" ng-checked="year.checked" ng-model="year.checked" ng-click="vm.legendCheckboxClick('x',year)">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr  ng-repeat="type in vm.eduTypeList">
        <td>
          <span > {{type.name}}（万元）</span>
          <input style="margin-left: 5px;" type="checkbox" ng-checked="type.checked" ng-model="type.checked" ng-click="vm.legendCheckboxClick('y',type)">
        </td>
        <th ng-repeat="year in vm.yearList">
                <span ng-repeat="data in vm.dataList">
                  <span ng-if="type.type==data.type && year.value==data.year">
                      {{data.num}}
                  </span>
                </span>
        </th>
      </tr>

      </tbody>
    </table>
  </div>
</section>-->
