<nav class="navbar navbar-static-top">
  <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown messages-menu">
        <a ng-href="/#/user/list" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user-circle-o"></i> 用户管理
        </a>
      </li>
      <li class="dropdown user user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img ng-src="{{vm.user.avatar}}" class="user-image" />
          <span class="hidden-xs">{{vm.user.username}}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header">
            <img ng-src="{{vm.user.avatar}}" class="img-circle" />
            <p>
              {{vm.user.lname}} {{vm.user.fname}}
              <small>{{vm.user.role}}</small>
            </p>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">用户信息</a>
            </div>
            <div class="pull-right">
              <a ng-click="vm.logout()" class="btn btn-default btn-flat">注销</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
