<style>
    .line-bar-f{background-color: #e9e8fc;border-radius: 5px;height: 3px;}
    .line-bar-fwzs{background-color: #438ff5;border-radius: 6px;height: 6px;width: 44.3696%;margin-top:-4px;}
</style>
<ion-header-bar align-title="center">
    <h1 class="title" style="font-size:20px;height:48px;text-align:center;color:#fff;vertical-align:middle;background:#37127c;margin:0">
        <a ng-click="vm.goback()" class="back-style"><img width="24" height="24" src="../../images/universal_btn_icon_back.png"/></a>
        {{vm.title}}
    </h1>
</ion-header-bar>
<ion-view hide-nav-bar="true">
    <div>
        <ion-content>
            <sc-layoutpie piedata="vm.piedata" unit="vm.unit" type="vm.type" currentyear="vm.latestYear" onload="vm.onload"></sc-layoutpie>
            <div class="row" style="margin-top:0px;height:68px;" ng-repeat="data in vm.piedata">
                <div class="row" on-touch="vm.onTouch({{$index}})" on-release="vm.onRelease({{$index}})" id="onetabpiechart_id_{{$index}}" style="">
                    <div  style="width:55%;margin-left:12px;margin-top:8px">
                        <div style="font-size:18px;color:#666">{{data.name}}</div>
                        <div class="line-bar-f" style="margin-top:10px"></div>
                        <div class="line-bar-fwzs font-type1" style="background-color:{{data.color}};width:{{data.rate}}"></div>
                    </div>
                    <div style="text-align:right;width:40%;margin-top:20px">
                        <div style="font-size:20px;color:#333;">{{data.value|currency:''}}{{vm.unit}}</div>
                    </div>
                    <!--<div  style="width:5%;text-align:right;margin-top:23px">-->
                        <!--<a href="#/medical5-disease/{{$index}}"><img width="14" height="14" src="../../images/universal_btn_icon_more.png" style="margin-top:3px;"/></a>-->
                    <!--</div>-->
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>
