ol{
	margin:0;
	-webkit-padding-start: 21px;
}
.model_color{
	position: absolute;
	top: 0;
	left:0;
	overflow:hidden;
	background-color:rgba(204,204,204,0.5); 
	width: 100%;
	height: 100%;
	display: none;
	z-index: 8888;
}
.pageloading {
  position: fixed;
  top: 50%;
  left: 45%;
  min-width: 90px;
  margin-left: 0px;
  margin-top: -30px;
  padding: 7px;
  text-align: left;
  color: #333;
  font-size: 13px;
  border: 1px solid #ddd;
  background-color: #78797b;
  vertical-align: middle;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);  
}

.pageloading span {
  line-height:20px;
  vertical-align: middle;
}
.pageloading img {
  	width:20px;
	height:20px;
	float:left;
} 
body {
	height: 100%;
	margin: 0px;
}
.common_body{
	background-color: #e0e1e6 !important;
}
.filterFormStyle{
	text-align:left;
	width: 90%;
	margin: auto;
	height:85%;
}
.flexButton{
	border-top: 5px solid #b4bac6;
	color:#ffffff;
	font-size:14px;
	font-family:Microsoft YaHei;
}
.show_filter_condition{
	cursor:pointer;
	background-color: #b4bac6;
	width: 162px;
    height: 26px;
	text-align: center;
	height:26px;
	line-height:1.8;
	margin:0 auto;
}
.filterStyle{
	width:100%;
	height:135px;
	margin-top:0;
	background-color:#b4bac6;
}
.filter_label{
	font-size: 14px;
	color: #545b67;
	font-family: Microsoft YaHei;
	padding-top: 25px;
	padding-right:15px;
	line-height: 25px;
}

.font-href {
	color: #4383fe;
	cursor: pointer;
}

.font-href:hover {
	color: #7ea7fc;
}
.textInButton{
	width:75px;
	height:32px;
	font-size:14px;
	text-align:center;
	color:#ffffff;
	font-family:Microsoft YaHei;
	background-color:#5c8bea;
	border-radius: 4px 4px 4px 4px;
	border: initial;
	margin-top:15px;
	cursor:pointer;
}
.textInButtonForInspect{
 	width:75px;
 	height:32px;
 	font-size:14px;
 	text-align:center;
 	color:#ffffff;
 	font-family:Microsoft YaHei;
 	background-color:#5c8bea;
 	border-radius: 4px 4px 4px 4px;
 	border: initial;
 	cursor:pointer;
}

.textInButton:hover{
	background-color:#7ea7fc;
}

.textInButton[disabled], .textInButton[disabled]:hover{
	cursor : auto;
	opacity : .65;
	background-color : #5c8bea;
	color:#fff;
}

.textInButton.big{
	width:96px;
}

.detail_table_style{
	background-color:#f6f7f8;
	margin-top:30px;
	font-size:14px;
	font-family:Microsoft YaHei;
	border-spacing: 15px;
	width: 95%;
}
.alarm_detail_td_left_title_double{
	width:15.5%;
	color:#888888;
	text-align:right;
}
.alarm_detail_td_right_result_double{
	word-break: break-all;
	padding-left:10px;
	width: 32%;
	color:#333333;
	text-align:left;
}
.alarm_detail_td_left_title_signle{
	width:20%;
	color:#888888;
	text-align:right;
}
.alarm_detail_td_right_result_signle{
	padding-left:10px;
	width:80%;
	color:#333333;
	text-align:left;
}
.detail_dash_line{
	height:1px;
	border:none;
	border-top:1px dashed #dddddd;
	margin-left: 50px;
	margin-right:50px;
	margin-top: 10px;
}
.detail_sure_button{
	float:right;
	margin-right:20px; 
	margin-top: -10px;
	border-radius: 5px 5px 5px 5px;
	cursor:pointer;
}
.detail_cancle_button{
	float:right;
	margin-left: -10px;
	margin-right:20px; 
	margin-top: -10px;
	border-radius: 5px 5px 5px 5px;
	cursor:pointer;
}
.link_button_style_div{
	width:90%;
	height: 32px;
	margin: 15px auto 15px auto;
	cursor:pointer;
	position: relative;
}
.link_button_style_span{
	font-size:14px;
	font-family:Microsoft YaHei;
	color:#4383fe;
	cursor:pointer;
}
.log_detail_table_style{
	background-color:#f6f7f8;
	margin-top:35px;
	font-size:14px;
	font-family:Microsoft YaHei;
	border-spacing: 15px;
	width: 90%;
	margin-left:38px;
}
.log_detail_td_left_title_double{
	width:9%;
	color:#888888;
	text-align:right;
	margin-left: 38px;
}
.panel_detail_td_left_title_triple{
	width:9%;
	color:#888888;
	text-align:left;
	margin-left: 38px;
}
.log_detail_td_right_result_double{
	padding-left:10px;
	width:30%;
	color:#333333;
	text-align:left;
}
.panel_detail_td_right_result_triple{
	width:30%;
	color:#333333;
	text-align:left;
}
.log_detail_td_left_title_signle{
	width:8%;
	color:#888888;
	text-align:right;
	margin-left: 38px;
}
.log_detail_td_right_result_signle{
	padding-left:10px;
	width:60%;
	color:#333333;
	text-align:left;
	Word-break: break-all;
}
.panel_detail_td_right_result_double{
	width:40%;
	color:#333333;
	text-align:left;
	Word-break: break-all;
}
.condition {
    height: 30px;
    float: left;
    margin-right: 73px;
	margin-top:15px;
}
.condition_end {
    height: 30px;
    float: right;
	margin-top:15px;
}
.div-second-row .condition {
    height: 30px;
    float: left;
    margin-right: 73px;
    margin-top: 15px;
}
.div-second-row .filter_label {
	font-size: 14px;
	color: #5d5e64;
	font-family: Microsoft YaHei;
	padding-top: 15px;
	line-height: 25px;
}

.widget-box {
	padding: 0 100px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 auto;
    width: 90%;
    margin-bottom: 20px
}

.widget-header {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	height: 44px;
	background: #737993;
	vertical-align: middle;
	line-height:44px;
	/*background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#eee));
    background-image: -webkit-linear-gradient(top,#fff,0%,#eee,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#eee 100%);
    background-image: linear-gradient(to bottom,#fff 0,#eee 100%);*/
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);
	color: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	border: 1px solid #d3d3d3;
	padding-left: 20px;
}
.widget-body {
	border: 1px solid #d3d3d3;
	border-top: 0;
	background-color: #FFF;
	color: #5d5e64;
	font-size: 14px;
}
.widget-main {
	padding: 0 27px;
}

.detail_table_panel{
    font-size: 14px;
    font-family: Microsoft YaHei;
    border-spacing: 15px;
    width: 83%;
}
.margin-input{
	height: 24px;
	font-size: 14px;
}

.easyui-window {
	background-color: #f6f7f8;
}

.window hr {
	border: 1px solid #dddddd;
	border-bottom: 0;
	margin-top: 33px;
	margin-bottom: 0;
	margin-left: 14px;
	margin-right: 14px;
}

.window-btn-row{
	float: right;
	height: 68px;
	line-height: 68px;
	margin-right: 20px;
}
.window {
	border:1px solid #979ba2;
}

.font-color-main {
	color: #333333;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.required-field{
	color: #ff413d;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.message-window-pannel{
	height:70px;
	display: inline-block;
	text-align:center;
}
.message-window-pannel:after{
	display:block;
	content:"";
	clear:both;
}
.message-window-pannel-img{
	width:44px;
	height:44px;
	margin-top:33px;
	float:left;
}
.message-window-pannel-info{
	
	margin-top:45px;
	float:left;
	margin-left:20px;
}
