<div ng-if="vm.screenSizeType=='L'">
  <style>
    .box{height:390px;}
    .echarts{height:340px;}
    .shbz-height1-1{position:absolute; top:41px;}
    .shbz-height1-2{position:absolute; top:145px;}
    .shbz-height1-3{position:absolute; top:248px;}
    .shbz-height2-1{position:absolute; top:58px;}
    .shbz-height2-2{position:absolute; top:78px;}
    .shbz-height2-3{position:absolute; top:164px;}
    .shbz-height2-4{position:absolute; top:184px;}
    .shbz-height2-5{position:absolute; top:266px;}
    .shbz-height2-6{position:absolute; top:286px;}
    .indicator .content{padding-bottom:0;}
  </style>
</div>
<div ng-if="vm.screenSizeType=='M'">
  <style>
    .box{height:300px;}
    .echarts{height:250px;}
    .shbz-height1-1{position:absolute; top:27px;}
    .shbz-height1-2{position:absolute; top:100px;}
    .shbz-height1-3{position:absolute; top:174px;}
    .shbz-height2-1{position:absolute; top:45px;}
    .shbz-height2-2{position:absolute; top:65px;}
    .shbz-height2-3{position:absolute; top:118px;}
    .shbz-height2-4{position:absolute; top:138px;}
    .shbz-height2-5{position:absolute; top:192px;}
    .shbz-height2-6{position:absolute; top:212px;}
    .indicator .content{padding-bottom:0;}
  </style>
</div>
<section class="content">
  <div class="row" ng-if="!vm.ecOption1">
    <div class='col-lg-7' style="margin:5% 0 0 20%;">
      <h2>没有数据显示！</h2>
    </div>
  </div>
  <div class="container-fluid" style="width:99%; padding:0; margin:0; position:relative;">
    <div class="row" style="margin:0 0 0 -10px; padding:0;">
      <div class="col-md-8" style="padding:0;">
        <div class="box" style="width:auto;">
        <div class="box-title">
          全省省本级养老保险参保人数分析
        </div>
        <ng-echarts id="echart-1" class="echarts" ec-config="vm.ecConfig1" ec-option="vm.ecOption1"
                    style="display:block; "></ng-echarts>
        </div>
      </div>
      <div class="col-md-4" style="margin:0;padding:0;">
        <div class="box" style="width:auto;">
          <div class="box-title">
            {{vm.latestYear}}年全省省本级养老保险待遇情况
          </div>
          <ng-echarts id="echart-2" class="echarts" ec-config="vm.ecConfig2" ec-option="vm.ecOption2"
                      style="display:block; "></ng-echarts>
          <div style="position:absolute; left:35px; width:300px; top:51px; font-size:12px; color:#333333;">
            <div class="shbz-height1-1">省本级享受待遇人数</div>
            <div class="shbz-height1-2">省本级享受月均养老金</div>
            <div class="shbz-height1-3">省本级养老金收入</div>
          </div>

          <div style="position:absolute; right:-30px; width:100px; top:51px; font-size:12px; color:#333333;">
            <div id="czqy-sr" class="shbz-height2-1"></div>
            <div id="czqy-zc" class="shbz-height2-2"></div>
            <div id="jgsydw-sr" class="shbz-height2-3"></div>
            <div id="jgsydw-zc" class="shbz-height2-4"></div>
            <div id="cxjm-sr" class="shbz-height2-5"></div>
            <div id="cxjm-zc" class="shbz-height2-6"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid" style="width:99%; padding:0; margin:0;">
    <div class="row" style="margin:0 0 0 -10px;">
      <div class="col-md-4" style="padding:0">
        <div class="box" style="width:auto;">
          <div class="box-title">
            省本级城镇企业职工基本养老保险收支情况
          </div>
          <ng-echarts id="echart-3" class="echarts" ec-config="vm.ecConfig3" ec-option="vm.ecOption3"
                      style="display:block; "></ng-echarts>
        </div>
      </div>
      <div class="col-md-4" style="padding:0">
        <div class="box" style="width:auto;">
          <div class="box-title">
            省本级机关事业单位养老保险收支情况
          </div>
          <ng-echarts id="echart-4" class="echarts" ec-config="vm.ecConfig4" ec-option="vm.ecOption4"
                      style="display:block; "></ng-echarts>
        </div>
      </div>
      <div class="col-md-4" style="padding:0">
        <div class="box" style="width:auto;">
          <div class="box-title">
            省本级城乡居民社会养老保险收支情况
          </div>
          <ng-echarts id="echart-5" class="echarts" ec-config="vm.ecConfig5" ec-option="vm.ecOption5"
                      style="display:block; "></ng-echarts>
        </div>
      </div>
    </div>
  </div>
  <div style="width:99%;height:26px;font-size:12px;color:#333;text-align:right;">数据来源：湖南省人力资源和社会保障厅</div>
</section>
