<section class="content ztjjcyfx">
  <div class='row'>
    <div class='col-md-12 box echartsBox' style="width:98%">
      <div class="box-title">产业GDP发展情况</div>
      <ng-echarts class="col-md-12 echarts" id="echart-1" ec-config="vm.ecConfig" ec-option="vm.ecOption" style="width:100%;position:static;"></ng-echarts>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 box echartsTable' style="width:98%">
      <div class="box-title">产业GDP分布一览</div>
      <table class="c21-datatbl" style="width:99%;margin:8px">
        <thead><tr>
          <th style="width:230px">指标</th>
          <th ng-repeat="category in vm.categories">
            <img ng-if="category.checked"  ng-model="category.checked" style="width:12px;height:12px" ng-click="vm.xCheckboxClick(category)"  ng-src="../assets/images/btn_s.png"/>
            <img ng-if="!category.checked" ng-model="category.checked" style="width:12px;height:12px" ng-click="vm.xCheckboxClick(category)"  ng-src="../assets/images/btn_us.png"/>
            {{category.name}}年
            </th>
        </tr></thead>
        <tbody>
        <tr ng-repeat="item in vm.list track by $index">
          <th>
            <img ng-if="item.checked"  ng-model="item.checked" style="width:12px;height:12px" ng-click="vm.legendCheckboxClick(item)"  ng-src="../assets/images/btn_s.png"/>
            <img ng-if="!item.checked" ng-model="item.checked" style="width:12px;height:12px" ng-click="vm.legendCheckboxClick(item)"  ng-src="../assets/images/btn_us.png"/>
            {{item.name +' ('+item.ext+')'}}
          </th>
          <td ng-repeat="data in item.data track by $index">{{data}}</td>
        </tr>
        </tbody>
      </table>
  </div>
  </div>
  <div style="width:99%;height:26px;font-size:12px;color:#333;text-align:right;">数据来源：湖南省统计局</div>
</section>
