<section class="content-header" ng-if="vm.breadcrumbs">
  <h1>
    <button >年龄段</button>
  </h1>
  <sc-breadcrumb breadcrumbs="vm.breadcrumbs"></sc-breadcrumb>
</section>

<section class="content">

  <div class='row'   style="margin-left:10px">

    <div class='col-lg-8' style="background: #fff;border-top:2px solid #008000;">
      <ng-echarts class="echarts" ec-config="vm.ecConfig" ec-option="vm.ecOption" style="width: 750px; height: 350px; position:static;"></ng-echarts>
    </div>
    <div class='col-lg-4' style="background: #fff;border-top:2px solid #008000;">


      <select ng-model="selectedSite"  ng-init="selectedSite=vm.yearlist[0]" ng-change="vm.selectChange1(selectedSite);">
        <option ng-repeat="x in vm.yearlist" value="{{x}}">{{x}}</option>
      </select>

      <ng-echarts class="echarts" ec-config="vm.ecConfig1" ec-option="vm.ecOption1" style="width: 350px; height: 325px; position:static;"></ng-echarts>
    </div>


  </div>
  <div class='row'  style="margin-top:20px;margin-left:10px;background: #fff;">
    <table class="table table-bordered table-hover">
      <thead><tr>
        <th>指标</th>
        <th ng-repeat="category in vm.yearlist">{{category}} <input style="margin-left: 5px;" type="checkbox" ng-checked="vm.isChecked[$index]" ng-model="isChecked" ng-click="vm.checkboxClick($index,isChecked)"></th>
      </tr></thead>
      <tbody>
      <tr>
        <td> 20-22岁就业人数<input style="margin-left: 5px;" type="checkbox" ng-checked="vm.isItem1Checked" ng-model="isItem1Checked" ng-click="vm.checkboxClick('item1',isItem1Checked)">
        </td>
        <th ng-repeat="item1 in vm.list1">{{item1}}</th>
      </tr>
      <tr>
        <td> 22-25岁就业人数<input style="margin-left: 5px;" type="checkbox" ng-checked="vm.isItem2Checked" ng-model="isItem2Checked" ng-click="vm.checkboxClick('item2',isItem2Checked)">
        </td>
        <th ng-repeat="item2 in vm.list2">{{item2}}</th>
      </tr>
      <tr>
        <td> 25-30岁就业人数<input style="margin-left: 5px;" type="checkbox" ng-checked="vm.isItem3Checked" ng-model="isItem3Checked" ng-click="vm.checkboxClick('item3',isItem3Checked)">
        </td>
        <th ng-repeat="item3 in vm.list3">{{item3}}</th>
      </tr>



      </tbody>
    </table>
  </div>
</section>
