<div class="bar bar-header bar-positive detail-header">
    <a class="button button-clear" ng-click="vm.goBack()"><img src="../../images/universal_btn_icon_back.png"/></a>
    <h1 class="title">全省GDP发展情况</h1>
</div>
<ion-content class="gdpTotalClass" >
    <ul class="timeBtn cf">
       <li ng-click='vm.loadBarChart(2)' ng-class="{'active':vm.activeTop == 2}">季度</li>
       <li ng-click='vm.loadBarChart(1)' ng-class="{'active':vm.activeTop == 1}">年</li>
    </ul>
    <div class="txtCount cf">
        <div class="txtCountChlid txtCountChlid1">
            <p class="txtRound txtSmall">GDP总量</p>
            <p class="txtNumber" id='txtYellow'>
                <span id='gdpTotal'>0</span><span class="unit">亿元</span>
            </p>
        </div>
        <div class="txtCountChlid txtCountChlid2">
            <p class="txtLine txtSmall">GDP增率</p>
            <p class="txtNumber">
                <span id='gdpPercentage'>0</span><span class="unit">%</span>
            </p>
        </div>
    </div>
    <div class="row">
        <ng-echarts class="echarts col" ec-config="vm.barConfig" ec-option="vm.barOption" style="position:static;height:434px;width:100%;"></ng-echarts>
    </div>
</ion-content>
<style type="text/css">
.cf:after{content:'';display:block;width:0;height:0;clear:both;}
.gdpTotalClass .blockA{display:inline-block;width:100%;height:100%;}
.gdpTotalClass .timeBtn{margin:70px auto 32px;width:192px;border-radius:5px;border:1px solid #2863db;overflow:hidden;}
.gdpTotalClass .timeBtn li{width:95px;float:left;font-size:16px;color:#2863db;text-align:center;line-height:30px;}
.gdpTotalClass .timeBtn li.active{background-color:#2863db;color:#fff;}
.gdpTotalClass .txtCount{margin:0 auto 32px;width:336px;}
.gdpTotalClass .txtCountChlid{position:relative;width:168px;height:50px;float:left;padding-left:20px;}
.gdpTotalClass .txtCountChlid1:after{content:'';display:block;width:1px;height:40px;position:absolute;top:5px;right:-.5px;background-color:#c9d4ea;}
.gdpTotalClass .txtSmall{font-size:14px;color:#666;line-height:1;position:relative;}
.gdpTotalClass .txtRound{padding-left:14px;}
.gdpTotalClass .txtRound:before{position:absolute;left:0;top:3.5px;content:'';width:7px;height:7px;border-radius:50%;background-color:#0090d3;}
.gdpTotalClass .txtLine{padding-left:29px;}
.gdpTotalClass .txtLine:before{position:absolute;left:0;top:6px;content:'';width:20px;height:2px;border-radius:2px;background-color:#c684e8;}
.gdpTotalClass .txtLine:after{position:absolute;left:6.5px;top:3.5px;content:'';width:7px;height:7px;border-radius:50%;background-color:#fff;border:2px solid #c684e8;}
.gdpTotalClass .txtNumber{font-size:26px;color:#333;line-height:1;}
.gdpTotalClass .txtNumber span.unit{font-size:16px;}
.gdpTotalClass .txtYellow{color:#fcbb00;}
</style>
