<header class="main-header">
  <div class="logobar logobar-static-top">
    <div class="container">

      <img src="../assets/images/logo.png" class="fl logo1">
      <div class="fl" style="padding:15px;font-size:17px;font-weight: bold;margin-top:5px;color:#fff">湖南省政务大数据--领导决策</div>

      <nav class="navbar navbar-static-top">

        <div class="navbar-custom-menu" style="line-height: 54px;">
          <div style="float:left; font-size:16px;color:#fff; margin-right:20px;">{{vm.user.name}}</div>
          <a ng-click="vm.logout()" style="font-size:14px;color:#fff;cursor:pointer;">注销</a>

        </div>
      </nav>

    </div>
    <!-- /.container-fluid -->
  </div>
</header>
