<div id="base" class="" style="width:100%;">

  <!-- 背景 (动态面板) -->
  <div id="u0" class="ax_动态面板" data-label="背景" style="background:#2e41a3;">
    <div id="u0_state0" class="panel_state" data-label="状态1">
      <div id="u0_state0_content" class="panel_state_content">

        <!-- 大图 (动态面板) -->
        <div id="u1" class="ax_动态面板" data-label="大图">
          <div id="u1_state0" class="panel_state" data-label="状态1">
            <div id="u1_state0_content" class="panel_state_content">
              <div id="u2" class="ax_图片">
                <div id="demo"  ng-style="{'width':vm.screenWidth+'px'}" style="overflow:hidden;height:100%;background:#f4f4f4;color:#ffffff">
                  <div id="demo1">
                    <img ng-style="{'width':vm.screenWidth+'px'}" style="height:900px;" ng-src="../assets/images/{{vm.login_bg}}"/>
                    <img ng-style="{'width':vm.screenWidth+'px'}" style="height:900px;" ng-src="../assets/images/{{vm.login_bg}}"/>
                  </div>
                  <div id="demo2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="u10" class="ax_形状" style=" position:absolute;top:50%;margin-top:-100px;color:#fff;">
        <img src="../assets/images/logo01.png"/>
        <span style="font-size:34px;line-height:34px;text-align:center;font-weight: bold;padding-top:20px">湖南省政务大数据—典型示范应用</span>
        <br>
        <span style="font-size:20px;line-height:20px;text-align:center;">数据大脑、智慧办公、实时监控、智能管理、高效政务</span>
    </div>
  </div>

  <div style="position:absolute;left: 0;top:75%;width: 100%;height: 25%;padding: 50px 0;">
    <form method="post" ng-submit="vm.login(vm.credentials)">
      <div class="row" style="margin: 0;">
        <div class="col-md-12" style="text-align: center">
          <input ng-model="vm.credentials.username" placeholder="邮箱地址/用户名" ng-required="true" class="form-control uname"
                 style="display:inline;font-size:14px;color:#2e41a3;line-height:30px;padding-left: 34px;height:30px;text-align:left;border:1px solid #475dc7;width:242px;height: 42px; "
                 type="text" value="admin">
          <input ng-model="vm.credentials.password" placeholder="密码" ng-required="true" class="form-control pword"
                 style="display:inline;margin-left: 15px;font-size:14px;color:#2e41a3;line-height:30px;height:30px;padding-left: 34px;text-align:left;border:1px solid #475dc7;width:242px;height: 42px; "
                 type="password" value="admin">
          <button type="submit" class="loginbtn" style="margin-left: 15px;color:#fff;width: 102px;height: 42px;border:1px solid white;border-radius:4px; -webkit-border-radius: 4px;">登录</button>
        </div>
      </div>
      <div class="row" style="margin: 50px 0 0 0;">
        <div class="col-md-12" style="text-align: center;font-size: 12px;color: #2e41a3;">推荐使用浏览器：Chrome浏览器、IE10.0或以上<br/>
          推荐分辨率：1440*900以上</div>
      </div>

    </form>
  </div>
  <!-- Unnamed (形状) -->
  <!--<div id="u18" class="ax_文本">-->
  <!--<div id="u19" class="text" style="top:90px;left:185px;font-size:12px;color:#2e41a3;text-decoration:underline;">-->
  <!--<p><span><a ng-href="/#/auth/forgot" style="color:#2e41a3;">忘记密码</a></span></p>-->
  <!--</div>-->
  <!--</div>-->
<!--iframe src="http://10.118.16.63:8080/webservice/hunca.html"></iframe-->
  <script type="text/javascript" src="assets/Hunca_JS/netone/jquery.sprintf.js"></script>
  <script type="text/javascript" src="assets/Hunca_JS/netone/objectclass.js"></script>
  <script type="text/javascript" src="assets/Hunca_JS/netone/syan.activex.src.js"></script>
  <script type="text/javascript" src="assets/Hunca_JS/netone/netonex.base.src.js"></script>
  <script type="text/javascript" src="assets/Hunca_JS/netone/hunca_netone_std_core.js"></script>
  <script type="text/javascript" src="assets/Hunca_JS/netone/hunca_netone_ext_cert.js"></script>
  <!--声明CA控件-->
  <div action="netonex" netonexid="netonex" activex32_codebase="./js/NetONEX32.v1.3.4.0.cab"
       activex64_codebase="./js/NetONEX64.v1.3.4.0.cab" npapi_codebase="./js/NetONEX.v1.3.4.0.msi" version="1.3.4.0" style="width:0px;height: 0px">
  </div>
  <!--声明CA控件-->
</div>
