<div class="bar bar-header bar-positive detail-header" >
    <a class="button button-clear" ng-click="goAccountCenter()"><img src="../../images/universal_btn_icon_back.png"/></a>
    <h1 class="title" style="font-size:20px;height:48px;text-align:center;color:#fff;background:#37127c;vertical-align:middle;margin:0">验证手势密码</h1>
</div>

<ion-content class="has-header" style="background-color:#fff" scroll="false" ng-hide="hideFlag">

    <div class="main-content">
        <div style="height:100%;display:flex;flex-direction:column;justify-content:center">
            <div class="" style="padding-top:20px;height:20px;ling-height:20px">
                <ul class="config_message">
                    <li>
                        <span>{{msgContent}}</span>
                    </li>
                </ul>

            </div>

            <div style="padding-top:20px">
                <canvas id="canvasAuth"></canvas>
            </div>

        </div>
    </div>

    <div style="position:fixed;bottom:0;margin-bottom:30px;width:100%">
        <center>
            <span class="positive" ng-click="authLoginPwd()">
                忘记手势，验证登录密码>
            </span>
        </center>
    </div>

</ion-content>


